numpy<2
stripy
scipy
pandas
h5py
psutil
statsmodels
configparser
scikit-learn
scikit-image
SimpleITK
imageio
matplotlib
nibabel
seaborn
antspyx
pre-commit
webcolors
ruff
pre-commit
nnunet
nnunetv2
medpy